*{
    
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: antiquewhite;
}

.menu{
    width: 100%;
    background-color: black;
}

.menu__list{
    list-style-type: none;
}

.menu__item{

}

.menu__link{
    text-decoration: none;
}