*{
    
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: #fffa8a;
}

.menu{
    width: 100%;
    background-color: black;
    height: 30px;
}

.menu__list{
    list-style-type: none;
    
}

.menu__item{
    display: inline-block;
    font-size: 20px;
    margin-left: 20px;

}

.menu__link{
    text-decoration: none;
    color: white;
}

.menu__link:hover{
    color: #DED9D7;
}

.containertext{
    width: 80%;
    background-color: 	#b43a06;
    margin: 10px auto;
    border: 3px solid black;
}

.containertext__title{
    font-size: 60px;
    text-align: center;
    color: #fbcd5f;
}

.containertext__text{
    font-size: 20px;
    color: black;
    
}

.imagen{
    width: 400px;
    height: 300px;
    margin: 10px auto;
    display: block;
    border: 5px solid black;

}

.containerlist{

    background-color: #6d1616;
    width: 60%;
    margin: 10px auto;
}

.list-spa{
    list-style-type: none;
    font-size: 20px;
    text-align: center;
    color: 	#ffe5a8;
    border: 3px solid black;
}

.list-spa__item{
    margin-bottom: 5px;
}
