*{
  
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body{
  background-color: antiquewhite;
}
h1{
  font-size: 80px;
  text-align: center;
  color: black;
}
#container {
  background-color: black;
  margin-top: 100px;
  border:5px solid white;
}
 .listpages{
  font-size: 60px;
  text-decoration: none;
  color: black;
  
  background-color:turquoise;
  text-align: center;
  margin: 10px 100px 10px 100px; 
  list-style-type: none;
  
  
}

 .listpages .pizza{
  color: red;
  
}
 .listpages .Spaguetti{
  color: yellow;
  
}
.listpages .Tacos{
  color: green;
}
.listpages:hover{
  color: blue;
}