*{
    
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body{
  background-color: antiquewhite;
}
.tcontainer{
  width: 90%;
  background-color: #813531;
  margin: 0 auto;
}
.tcontainer__title{
  font-size: 80px;
  text-align: center;
  color: #e32929;
}

.container{
  background-color: #813531;
  width: 50%;
  margin: 40px auto;
  border:5px solid #ff611d;
}

.listpages{
  font-size: 60px;
  list-style-type: none;
  color: #813531;
  
}
.listpages__item{
  
}

.listpages__link{
  text-decoration: none;
  color: 	#ffb80e;
}

.listpages__link--colorgreen{
  color: green;
}

.listpages__link--colorgreen:hover{
  color: yellowgreen;
}

.listpages__link--hoverdarkyellow:hover{
  color: #b36b00;
}

.listpages__link--redcoloryhover{
  color: red;
}

.listpages__link--redcoloryhover:hover{
  color: green;
}

